<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <!-- Existing Resursbank card -->
            <resursbank_card>
                <active>1</active>
                <model>Resursbank\OmniCheckout\Model\Payment\Card</model>
                <order_status>pending</order_status>
                <title>Resursbank kort</title>
                <allowspecific>0</allowspecific>
                <payment_action>true</payment_action>
                <group>offline</group>
            </resursbank_card>

            <!-- New Resursbank card (create while placing order, this module is not responsible for that process) -->
            <resursbank_newcard>
                <active>1</active>
                <model>Resursbank\OmniCheckout\Model\Payment\NewCard</model>
                <order_status>pending</order_status>
                <title>Resursbank kort (nytt)</title>
                <allowspecific>0</allowspecific>
                <payment_action>true</payment_action>
                <group>offline</group>
            </resursbank_newcard>

            <!-- Invoice -->
            <resursbank_invoice>
                <active>1</active>
                <model>Resursbank\OmniCheckout\Model\Payment\Invoice</model>
                <order_status>pending</order_status>
                <title>Faktura</title>
                <allowspecific>0</allowspecific>
                <payment_action>true</payment_action>
                <group>offline</group>
            </resursbank_invoice>

            <!-- Invoice, part payments -->
            <resursbank_partpayment>
                <active>1</active>
                <model>Resursbank\OmniCheckout\Model\Payment\PartPayment</model>
                <order_status>pending</order_status>
                <title>Delbetalning</title>
                <allowspecific>0</allowspecific>
                <payment_action>true</payment_action>
                <group>offline</group>
            </resursbank_partpayment>

            <!-- VISA/MasterCard -->
            <resursbank_netscard>
                <active>1</active>
                <model>Resursbank\OmniCheckout\Model\Payment\NetsCard</model>
                <order_status>pending</order_status>
                <title>Kreditkort (VISA/MasterCard)</title>
                <allowspecific>0</allowspecific>
                <payment_action>true</payment_action>
                <group>offline</group>
            </resursbank_netscard>

            <!-- Unknown Resursbank payment method (added in server repository but not defined in this module) -->
            <resursbank_default>
                <active>1</active>
                <model>Resursbank\OmniCheckout\Model\Payment\Standard</model>
                <order_status>pending</order_status>
                <title>Resursbank</title>
                <allowspecific>0</allowspecific>
                <payment_action>true</payment_action>
                <group>offline</group>
            </resursbank_default>
        </payment>
    </default>
</config>
