<?xml version="1.0"?>
<!--
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote">
        <!-- Update payment session whenever quote is updated. -->
        <plugin name="resursbank_omnicheckout_payment_session_update" type="Resursbank\OmniCheckout\Plugin\PaymentSession\Update" />
    </type>

    <type name="Magento\Checkout\Controller\Index\Index">
        <!-- Initialize payment session upon entering checkout. -->
        <plugin name="resursbank_omnicheckout_payment_session_init" type="Resursbank\OmniCheckout\Plugin\PaymentSession\Init" />
    </type>

    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <!-- Prepend invoice information from Resursbank on order view information block. -->
        <plugin name="resursbank_omnicheckout_block_adminhtml_sales_order_view_info_after_to_html" type="Resursbank\OmniCheckout\Plugin\Block\Adminhtml\Sales\Order\View\AppendPaymentInfo" />
    </type>

    <type name="Magento\Sales\Model\Order">
        <!-- Append Resursbank token to order when creating it. -->
        <plugin name="resursbank_omnicheckout_order_append_token" type="Resursbank\OmniCheckout\Plugin\Order\AppendToken" />

        <!-- After the order has been placed we clear any Resursbank information from the customers session. -->
        <plugin name="resursbank_omnicheckout_order_clear_payment_session" type="Resursbank\OmniCheckout\Plugin\PaymentSession\Clear" />
    </type>

    <!--<type name="Magento\Sales\Model\AdminOrder\Create">-->
        <!--&lt;!&ndash; Append payment token to revised order, and sync updates to Resursbank. &ndash;&gt;-->
        <!--&lt;!&ndash;<plugin name="resursbank_omnicheckout_order_update_payment" type="Resursbank\OmniCheckout\Plugin\Order\UpdatePayment" />&ndash;&gt;-->
    <!--</type>-->

    <type name="Magento\Sales\Model\Order">
        <!-- Annul payment when canceling order. -->
        <plugin name="resursbank_omnicheckout_order_annul_payment" type="Resursbank\OmniCheckout\Plugin\Order\AnnulPayment" />
    </type>

    <type name="Magento\Sales\Model\Order\Creditmemo">
        <!-- Annul payment when canceling order. -->
        <plugin name="resursbank_omnicheckout_order_credit_payment" type="Resursbank\OmniCheckout\Plugin\Order\CreditPayment" />
    </type>

    <!-- Callback API interface. -->
    <preference for="Resursbank\OmniCheckout\Api\CallbackInterface" type="Resursbank\OmniCheckout\Model\Callback" />
</config>
